html{
    box-sizing: border-box;
    font-size: 1rem;
}

*{
    box-sizing: inherit;
}

body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}

img{
    max-width: 100%;
    max-height: 100%;
}